@function responsive-grid-width($col, $device: "desktop") {
    @if ($device == "mobile") {
        @if ($col > 6) {
            @return 100%;
        }
        @if ($col > 3) {
            @return 50%;
        }
    }

    @return percentage($col/12);
}

@for $i from 1 through 12 {
    .col-#{$i} {
        float: left;
        width: responsive-grid-width($i, "desktop");
    }

    @media screen and (max-width: 768px) {
        .col-#{$i} {
            width: responsive-grid-width($i, "mobile");
        }
    }
}
